<%= form_with(model: task) do |f|%>
  <% if task.errors.any?%>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, t('errors.template.header')) %> </h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :task_name%>
  <%= f.text_field :task_name, id: 'task_name' %>

  <%= f.label :content %>
  <%= f.text_field :content, id: 'content' %>

  <%= f.label :status %>
  <%= f.text_field :status, id: 'status' %>

  <%= f.label :priority %>
  <%= f.text_field :priority, id: 'priority' %>

  <%= f.label :end_date %>
  <%= f.text_field :end_date, id: 'end_date' %>

  <%= f.submit "登録する"%>
<% end %>

