<%= notice %>

<h1>タスク一覧</h1>

<%= form_with(scope: :search, local: true, url: tasks_path, method: :get) do |f|%>
  <%= f.label :task_name, 'タスク名' %>
  <%= f.text_field :task_name %>

  <%= f.label :status, 'ステータス' %>
  <%= f.select :status, Task.statuses.keys.map { |status| [status, status] }, prompt: '選択してください' %>

  <%= f.submit '検索',class: "btn btn-primary" %>
<% end %>


<%= link_to "終了期限でソートする", tasks_path(sort_end_date: "true") %>
<%= link_to "優先度でソートする", tasks_path(sort_priority: "true") %>

<% @tasks.each do |task|%>
  <ul >
    <h2 class='task_row'>タスク名  :  <%= task.task_name %></h2>
    <li>内容  :  <%= task.content %></li>
    <li>進捗状況  :   <%= task.status %></li>
    <li>優先度  :  <%= task.priority %></li>
    <li>作成日  :  <%= task.created_at %></li>
    <li>終了日  :  <%= task.end_date %></li>
    <li><%= link_to "詳細", task_path(task)%></li>
    <li><%= link_to "編集", edit_task_path(task)%></li>
    <li><%= link_to "削除", task_path(task), method: :delete %></li>
  </ul>
<% end %>
<%= paginate @tasks %>