<h1>タスク詳細ページ</h1>

<h2>タスク名  :  <%= @task.task_name %></h2>
<ul>
  <li>内容  :  <%= @task.content %></li>
  <li>進捗状況  :   <%= @task.status %></li>
  <li>優先度  :  <%= @task.priority %></li>
  <li>終了日  :  <%= @task.end_date %></li>
</ul>